*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conatiner {
    width: 100%;
    min-height: 100vh;
    background-color: #bfdef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    overflow-x: hidden;
}
.title1 {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.477);
}
.title1 h1{
    font-size: 32px;
    font-weight: 550;
    color: rgb(111, 2, 154);
}
.title1 h4{
    font-size: 16px;
    font-weight: 400;
    color: rgb(77, 77, 77);
}
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    overflow-x: auto;
}
@media(max-width:600px){
    .cards{
        justify-content: center;
    }
}